02-rss-email-bildirim.json
{
  "name": "02 - RSS Feed → E-posta Bildirimi",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "b1b2c3d4-2222-4000-8000-000000000001",
      "name": "Saatlik Kontrol",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "YOUR_RSS_FEED_URL_HERE",
        "options": {}
      },
      "id": "b1b2c3d4-2222-4000-8000-000000000002",
      "name": "RSS Oku",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "rss-date-check",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ $now.minus({hours: 1}).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-2222-4000-8000-000000000003",
      "name": "Yeni İçerik Filtrele",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "fromEmail": "YOUR_EMAIL_HERE",
        "toEmail": "YOUR_RECIPIENT_EMAIL_HERE",
        "subject": "=📰 Yeni RSS İçeriği: {{ $json.title }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 20px; border-radius: 10px 10px 0 0;\">\n    <h1 style=\"color: white; margin: 0;\">📰 Yeni İçerik Bildirimi</h1>\n  </div>\n  <div style=\"background: #f8f9fa; padding: 20px; border-radius: 0 0 10px 10px;\">\n    <h2 style=\"color: #333;\">{{ $json.title }}</h2>\n    <p style=\"color: #666;\">{{ $json.contentSnippet || $json.content || 'İçerik önizlemesi mevcut değil.' }}</p>\n    <p style=\"color: #999; font-size: 12px;\">📅 Yayın: {{ $json.pubDate }}</p>\n    <a href=\"{{ $json.link }}\" style=\"display: inline-block; background: #667eea; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin-top: 10px;\">İçeriği Oku →</a>\n  </div>\n</div>",
        "options": {}
      },
      "id": "b1b2c3d4-2222-4000-8000-000000000004",
      "name": "E-posta Gönder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [950, 200],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP Hesabı"
        }
      }
    }
  ],
  "connections": {
    "Saatlik Kontrol": {
      "main": [
        [
          {
            "node": "RSS Oku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Oku": {
      "main": [
        [
          {
            "node": "Yeni İçerik Filtrele",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yeni İçerik Filtrele": {
      "main": [
        [
          {
            "node": "E-posta Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02-rss-email-v1",
  "meta": {
    "instanceId": "n8n-sablonlari",
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "Kolay"
    },
    {
      "name": "RSS"
    },
    {
      "name": "E-posta"
    }
  ]
}
