04-google-sheets-crm.json
{
  "name": "04 - Google Sheets Mini CRM (Webhook → Sheets → E-posta)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-form",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000001",
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "crm-form-webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Gelen veriyi doğrula ve formatla\nconst now = new Date();\nconst tarih = now.toLocaleDateString('tr-TR');\nconst saat = now.toLocaleTimeString('tr-TR');\n\nconst musteri = {\n  ad: input.ad || input.name || '',\n  email: input.email || '',\n  telefon: input.telefon || input.phone || '',\n  sirket: input.sirket || input.company || '',\n  mesaj: input.mesaj || input.message || '',\n  kaynak: input.kaynak || input.source || 'Web Formu',\n  durum: 'Yeni',\n  tarih: tarih,\n  saat: saat,\n  notlar: ''\n};\n\n// Doğrulama\nconst hatalar = [];\nif (!musteri.ad) hatalar.push('Ad alanı boş');\nif (!musteri.email) hatalar.push('E-posta alanı boş');\n\nreturn [{\n  json: {\n    ...musteri,\n    gecerli: hatalar.length === 0,\n    hatalar: hatalar.join(', ')\n  }\n}];"
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000002",
      "name": "Veri Doğrula & Formatla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.gecerli }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000003",
      "name": "Geçerli mi?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Müşteriler",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ad": "={{ $json.ad }}",
            "E-posta": "={{ $json.email }}",
            "Telefon": "={{ $json.telefon }}",
            "Şirket": "={{ $json.sirket }}",
            "Mesaj": "={{ $json.mesaj }}",
            "Kaynak": "={{ $json.kaynak }}",
            "Durum": "={{ $json.durum }}",
            "Tarih": "={{ $json.tarih }}",
            "Saat": "={{ $json.saat }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000004",
      "name": "Sheets'e Kaydet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [950, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "YOUR_FROM_EMAIL_HERE",
        "toEmail": "={{ $json.email }}",
        "subject": "=✅ Talebiniz Alındı - {{ $json.ad }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #ffffff;\">\n  <div style=\"background: linear-gradient(135deg, #00b09b, #96c93d); padding: 30px; text-align: center; border-radius: 10px 10px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">✅ Talebiniz Başarıyla Alındı</h1>\n  </div>\n  <div style=\"padding: 30px; background: #f8f9fa; border-radius: 0 0 10px 10px;\">\n    <p style=\"color: #333; font-size: 16px;\">Merhaba <strong>{{ $json.ad }}</strong>,</p>\n    <p style=\"color: #666;\">Mesajınız tarafımıza ulaştı. En kısa sürede sizinle iletişime geçeceğiz.</p>\n    <div style=\"background: white; padding: 15px; border-radius: 8px; border-left: 4px solid #00b09b; margin: 20px 0;\">\n      <p style=\"margin: 5px 0; color: #555;\"><strong>Mesajınız:</strong></p>\n      <p style=\"color: #777;\">{{ $json.mesaj }}</p>\n    </div>\n    <p style=\"color: #999; font-size: 12px;\">Bu otomatik bir bildirimdir.</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000005",
      "name": "Onay E-postası Gönder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1200, 200],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP Hesabı"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Kaydınız alındı, teşekkürler!\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000006",
      "name": "Başarı Yanıtı",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"error\", \"message\": \"Eksik alanlar: {{ $json.hatalar }}\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "d1b2c3d4-4444-4000-8000-000000000007",
      "name": "Hata Yanıtı",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [950, 450]
    }
  ],
  "connections": {
    "Form Webhook": {
      "main": [
        [
          {
            "node": "Veri Doğrula & Formatla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veri Doğrula & Formatla": {
      "main": [
        [
          {
            "node": "Geçerli mi?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geçerli mi?": {
      "main": [
        [
          {
            "node": "Sheets'e Kaydet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hata Yanıtı",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets'e Kaydet": {
      "main": [
        [
          {
            "node": "Onay E-postası Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onay E-postası Gönder": {
      "main": [
        [
          {
            "node": "Başarı Yanıtı",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04-sheets-crm-v1",
  "meta": {
    "instanceId": "n8n-sablonlari",
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "Orta"
    },
    {
      "name": "Google Sheets"
    },
    {
      "name": "CRM"
    },
    {
      "name": "E-posta"
    }
  ]
}
